/* Auto-generado por matugen — NO editar manualmente */
* {
    base:           #12131c;
    mantle:         #0c0e17;
    surface:        #1e1f29;
    ml-text:        #e2e1ef;
    subtext:        #c6c5d3;
    primary:        #bbc3ff;
    secondary:      #cac1ea;
    tertiary:       #d8bbf3;
    p-container:    #002ad0;
    s-container:    #484264;
    t-container:    #533d6b;
    on-primary:     #001c95;
    on-p-cont:      #dfe0ff;
    on-s-cont:      #e6deff;
    on-t-cont:      #efdbff;
    ml-error:       #ffb4ab;
    outline:        #454651;
}
