/* Auto-generado por matugen — NO editar manualmente */
* {
    base:           #1d100a;
    mantle:         #180b06;
    surface:        #2b1c16;
    ml-text:        #f8ddd2;
    subtext:        #dbc1b6;
    primary:        #ffb694;
    secondary:      #efbc95;
    tertiary:       #f1be7a;
    p-container:    #7b2f00;
    s-container:    #623f20;
    t-container:    #624005;
    on-primary:     #571f00;
    on-p-cont:      #ffdbcc;
    on-s-cont:      #ffdcc3;
    on-t-cont:      #ffddb4;
    ml-error:       #ffb4ab;
    outline:        #55433b;
}
