/* Auto-generado por matugen — NO editar manualmente */
* {
    base:           #1d1012;
    mantle:         #170b0d;
    surface:        #2a1c1e;
    ml-text:        #f7dcdf;
    subtext:        #dac0c3;
    primary:        #ffb2be;
    secondary:      #f5b8af;
    tertiary:       #ffb695;
    p-container:    #900038;
    s-container:    #673b35;
    t-container:    #6d391f;
    on-primary:     #660026;
    on-p-cont:      #ffd9de;
    on-s-cont:      #ffdad5;
    on-t-cont:      #ffdbcc;
    ml-error:       #ffb4ab;
    outline:        #544245;
}
