/* Auto-generado por matugen — NO editar manualmente */
* {
    base:           #1c1014;
    mantle:         #170b0f;
    surface:        #2a1c20;
    ml-text:        #f5dce3;
    subtext:        #d8c1c7;
    primary:        #ffb0cb;
    secondary:      #f3b7bf;
    tertiary:       #ffb3ae;
    p-container:    #8d0050;
    s-container:    #653a41;
    t-container:    #6f3633;
    on-primary:     #640037;
    on-p-cont:      #ffd9e4;
    on-s-cont:      #ffd9dd;
    on-t-cont:      #ffdad7;
    ml-error:       #ffb4ab;
    outline:        #534247;
}
