// Auto-generado por OozeShell (APPEARANCE). No editar a mano.
// Perfil: dramatic
animations {
    workspace-switch {
        spring damping-ratio=1.00 stiffness=300 epsilon=0.0001
    }
    window-open {
        duration-ms 500
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 450
        curve "ease-out-cubic"
    }
    horizontal-view-movement {
        spring damping-ratio=1.00 stiffness=280 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.00 stiffness=280 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.00 stiffness=280 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.70 stiffness=400 epsilon=0.0001
    }
    screenshot-ui-open {
        duration-ms 400
        curve "ease-out-cubic"
    }
    overview-open-close {
        spring damping-ratio=1.00 stiffness=280 epsilon=0.0001
    }
}
